---
layout: default
---

<!-- Displays topics (i.e. tags) only on the first page -->
{% unless paginator.previous_page %}
  <h1>Topics of interest</h1>
  <div class="tags-at-index">
    {% include tag-cloud.html %}
  </div>
  <div class="polaroid-images-at-index">
    <div class="polaroid-images">
      {% for page in site.pages %}
        <!-- Takes images only from tag pages -->
        {% if post.layout == tag-page and page.image.src %}
          {% assign imageTitle = page.image.title %}
          <a href="/tags/{{ page.tag }}" title="{{ page.tag }}">
            <img height="130" src="{{ page.image.src }}"
                 alt="{{ imageTitle }}" title="{{ imageTitle }}" />
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endunless %}

<div class="paginator-posts">
  <h1>
    Recent articles{%
      if paginator.previous_page
        %}, page #{{ paginator.page }}{% endif %}
  </h1>

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <div class="post-preview">
      <h2><a class="title" href="{{ post.url }}">{{ post.title }}</a></h1>
      <p class="author">
        <span class="date">{{ post.date | date_to_long_string }}</span>
      </p>
      <div class="content">
        {% if post.content contains '<!--preview-break-->' %}
          {{ post.content | split: '<!--preview-break-->' | first
              | replace: 'h3 id=', 'h4 id=' | replace: '/h3', '/h4'
              | replace: 'h2 id=', 'h3 id=' | replace: '/h2', '/h3' }}
          <a class="read-more" href="{{ post.url }}">... read more</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination" align="center">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Prev</a>
    {% else %}
      <span>&larr; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span>{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
    {% else %}
      <span>Next 	&rarr;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
