---
---

@import "{{ site.theme }}";

//// Uncomment to debug ghost elements
// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }

// .quote-debater-1 {
//   color: rgb(55, 22, 90);
// }
// .quote-debater-2 {
//   color: rgb(20, 56, 14);
// }

.handwritten {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.typewritten {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

#main-content {
   // makes article images also look like printed photos
   img.shadow {
       background: white;
       margin: 5px;
       padding: 10px;
       -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
       box-shadow: 0 4px 6px rgba(0, 0, 0, .3);

       max-width: 95%;
   }
}

.tag-cloud {
  .tags-title {
    @extend .handwritten;
    font-size: 18px;
    font-weight: 500;
    padding-right: 10px;
  }
  .tag {
    padding-right: 7px;
  }
}

#disqus-content #disqus-content-top {
  @media only screen and (max-width: 959px) {
      width: inherit;
      height: inherit;
      margin-bottom: 42px;
      background-image: none;
      border-top: solid 1px #ddd;
  }
  width: 504px;
  height: 53px;
  margin: 0 auto;
  background: transparent url("/assets/images/sidebar-bg-horizontal.jpg") 0 0 no-repeat;
}

.paginator-posts {
  margin-top: 20px;
  .post {
    // background: white;
    margin: 25px 0;
    background-color: #fff;
    padding: 10px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.3);
    box-shadow: 0 3px 5px rgba(0,0,0,.3);

    // max-width: 95%;

    h2, h3, .author {
      padding-left: 33px;
      .date {
        font-size: 13px;
      }
    }

    .content {
      // display: block;
      padding-bottom: 23px;

      ol {
        margin-left: 23px;
      }

      .read-more {
        float: right;
      }
    }
  }
}

aside {
  .menu-title {
    @extend .handwritten;
    font-size: 18px;
    font-weight: 700;
  }
  .menu-post {
    padding: 5px;
    //position: relative;
    a {
      font-size: 14px;
    }
    .date {
      font-size: 10px;
      // position: absolute;
      // right: 18px;
      // bottom: 0px;
    }
  }

  // show or hide more posts
  .more-posts {
    position: relative;
    height: auto;
    list-style-type: none;
    ul {
      margin: 0;
      padding: 0;
    }

    [type="checkbox"] {
      position: absolute;
      left: -9999px;
      & ~ ul {
        width: 100%;
        display: none;
      }

      // checked state styles
      &:checked ~ ul {
        display: block;
      }
      &:checked + label {
        // if we have positioned relatively the element,
        // during the "checked" state
        // we have to change its type of positioning
        position: absolute;
        top: 100%;
      }
      &:checked + label:before {
        content: 'Less';
      }
      &:checked + label:after {
        content: '⇡';
      }
    }

    label {
      display: block;
      width: 100%;
      height: 20px;
      padding: 6px 0 0 0;
      border-width: 1px;
      border-color: #dbe7f3;
      border-style: solid none;
      color: #666;
      font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1px;
      cursor: pointer;
      position: absolute;
      top: 0;
      &:hover {
        background: #fff;
      }
      &:before,
      &:after {
        position: absolute;
      }
      &:before {
        content: 'More';
        left: 6px;
      }
      &:after {
        content: '⇣';
        right: 10px;
        animation: label-content-move .85s linear infinite alternate;
      }
      @keyframes label-content-move {
        from {
          transform: translateY(-2px);
        }
        to {
          transform: translateY(2px);
        }
      }
    }
  }
}

.tags-at-index {
  @media only screen and (max-width: 959px) {
    display: block;
  }
  display: none;
}
.polaroid-images-at-index {
  @media only screen and (max-width: 959px) {
    display: none;
  }
  display: block;
  margin-top: 30px;
  height: 400px;
  .polaroid-images {
    a:after {
      @extend .typewritten;
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.pagination {
  @extend .typewritten;
  font-weight: 500;
}

.polaroid-images {
  // hide if small screen
  @media only screen and (max-width: 767px) {
    display: none;
  }
  // style images like a polaroid picture
  a {
      background: white;
      display: inline;
      float: left;
      margin: 0 10px 20px;
      padding: 10px 10px 25px;
      text-align: center;
      text-decoration: none;
      -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
      box-shadow: 0 4px 6px rgba(0,0,0,.3);
      -webkit-transition: all .15s linear;
      -moz-transition: all .15s linear;
      transition: all .15s linear;
      z-index: 0;
      position:relative;

      &.top-image {
        float: right;
        top: -200px;
        right: 80px;
      }
  }
  // add the caption on to the image
  a:after {
    @extend .handwritten;
    color: #333;
    font-size: 16px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  a.top-image:after {
    font-size: 20px;
  }

  // fit the polaroid area
  img {
      display: block;
      width: inherit;
  }
  // rotate
  a:nth-child(5n) {
      -webkit-transform: rotate(-42deg);
      -moz-transform: rotate(-42deg);
      transform: rotate(-42deg);
  }
  a:nth-child(5n+1) {
      -webkit-transform: rotate(4deg);
      -moz-transform: rotate(4deg);
      transform: rotate(4deg);
  }
  a:nth-child(5n+2) {
      -webkit-transform: rotate(-24deg);
      -moz-transform: rotate(-24deg);
      transform: rotate(-24deg);
  }
  a:nth-child(5n+3) {
      -webkit-transform: rotate(14deg);
      -moz-transform: rotate(14deg);
      transform: rotate(14deg);
  }
  a:nth-child(5n+4) {
      -webkit-transform: rotate(-18deg);
      -moz-transform: rotate(-18deg);
      transform: rotate(-18deg);
  }
}

footer {
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-top: solid 1px #275da1;
  .inner {
    @media only screen and (max-width: 959px) and (min-width: 768px) {
        width: 740px;
    }
    @media only screen and (max-width: 767px) {
        width: 93%;
    }
    position: relative;
    width: 940px;
    margin: 0 auto;
    color: #9ddcff;
    .information {
      @media only screen and (max-width: 767px) {
          width: 100%;
      }
      width: 540px;
      font-weight: normal;
      .contacts {
        a {
          color: #fff;
          &:hover {
            color: #9ddcff;
          }
        }
        margin-bottom: 0.2em;
        font-size: 19px;
      }
      .copyright {
        font-size: 13px;
      }
    }
  }
}
