---
---

@import "{{ site.theme }}";

// .quote-debater-1 {
//   color: rgb(55, 22, 90);
// }
// .quote-debater-2 {
//   color: rgb(20, 56, 14);
// }

#main-content {
  // makes article images also look like printed photos
  img {
      background: white;
      margin: 5px;
      padding: 10px;
      -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
      box-shadow: 0 4px 6px rgba(0,0,0,.3);

      max-width: 95%;
  }
}

aside {
  .menu-title {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 18px;
    font-weight: 700;
  }
  .menu-post {
    padding: 5px;
    //position: relative;
    a {
      font-size: 14px;
    }
    .date {
      font-size: 10px;
      // position: absolute;
      // right: 18px;
      // bottom: 0px;
    }
  }
}

.polaroid-images {
  // hide if small screen
  @media only screen and (max-width: 767px) {
    display: none;
  }
  // style images like a polaroid picture
  a {
      background: white;
      display: inline;
      float: right;
      margin: 0 5px 10px;
      padding: 10px 10px 25px;
      text-align: center;
      text-decoration: none;
      -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
      box-shadow: 0 4px 6px rgba(0,0,0,.3);
      -webkit-transition: all .15s linear;
      -moz-transition: all .15s linear;
      transition: all .15s linear;
      z-index: 0;
      position:relative;

      top: -200px;
      right: 80px;
  }
  // add the caption on to the image
  a:after {
      color: #333;
      font-size: 20px;
      content: attr(title);
      position: relative;
      top:15px;
  }
  // fit the polaroid area
  img {
      display: block;
      width: inherit;
  }
  // rotate
  a:nth-child(5n) {
      -webkit-transform: rotate(-42deg);
      -moz-transform: rotate(-42deg);
      transform: rotate(-42deg);
  }
  a:nth-child(5n+1) {
      -webkit-transform: rotate(4deg);
      -moz-transform: rotate(4deg);
      transform: rotate(4deg);
  }
  a:nth-child(5n+2) {
      -webkit-transform: rotate(-24deg);
      -moz-transform: rotate(-24deg);
      transform: rotate(-24deg);
  }
  a:nth-child(5n+3) {
      -webkit-transform: rotate(14deg);
      -moz-transform: rotate(14deg);
      transform: rotate(14deg);
  }
  a:nth-child(5n+4) {
      -webkit-transform: rotate(-18deg);
      -moz-transform: rotate(-18deg);
      transform: rotate(-18deg);
  }
}

footer {
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-top: solid 1px #275da1;
  .inner {
    @media only screen and (max-width: 959px) and (min-width: 768px) {
        width: 740px;
    }
    @media only screen and (max-width: 767px) {
        width: 93%;
    }
    position: relative;
    width: 940px;
    margin: 0 auto;
    color: #9ddcff;
    .information {
      width: 540px;
      font-weight: normal;
      .contacts {
        a {
          color: #fff;
          &:hover {
            color: #9ddcff;
          }
        }
        margin-bottom: 0.2em;
        font-size: 18px;
      }
      .copyright {
        font-size: 14px;
      }
    }
  }
}
