<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% seo %}

    {% if site.tags != "" %}
      {% include collect-tags.html %}
    {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119542345-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119542345-1');
    </script>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}
          </h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
      <div class="polaroid-images">
        {% comment %}Random number (based on a page content size and url size) of spans is added to randomize image rotation{% endcomment %}
        {% assign zeroToFour = page.content.size | plus: page.url.size | modulo: 5 %}
        {% for i in (1..zeroToFour) %}<span></span>{% endfor %}
        {% assign imageSrc = page.image.path | default: "/assets/images/cubes-inside-a-cube.jpg" %}
        {% assign imageTitle = page.image.title | default: "Cubes" %}
        {% assign imageHref = page.image.href | default: page.url %}
        <a class="top-image" href="{{ imageHref }}" title="{{ imageTitle }}">
          <img height="200" src="{{ imageSrc }}" alt="{{ imageTitle }}" title="{{ imageTitle }}" />
        </a>
      </div>
    </header>

    <div id="content-wrapper" >
      <div class="inner clearfix">
        <section id="main-content">
          <div>
            {{ content }}
          </div>

          {% if page.comments %}
            <div id="disqus-content">
              <div id="disqus-content-top"></div>
              <div id="disqus_thread"></div>
              <script>
                var disqus_config = function () {
                  var siteUrl = "{{ site.url }}";
                  if (!siteUrl && window && window.location && window.location.href) {
                    siteUrl =  window.location.href;
                  }
                  this.page.url = siteUrl + "{{ page.url }}";
                  this.page.identifier = "{{ page.id }}";
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = 'https://dmitry-karpenko-github-io.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                })();
              </script>
              <noscript>
                Please enable JavaScript to view the
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
              </noscript>
            </div>
          {% endif %}
        </section>

        <aside id="sidebar">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz filelang
            </a>
          {% endif %}

          <p class="title">Articles:</p>
          {% assign shownItemsCount = 7 %}
          {% assign sortedItems = site.posts | sort: "date" | reverse  %}
          {% assign itemsSize = sortedItems.size  %}
          <ul>
            {% for item in sortedItems limit: shownItemsCount %}
              {% include menu-post.html item=item %}
            {% endfor %}
            {% if itemsSize > shownItemsCount %}
              <li class="more-posts">
                <input type="checkbox" id="show-more-posts">
                <label for="show-more-posts"></label>
                <ul>
                  {% for item in sortedItems offset: shownItemsCount %}
                    {% include menu-post.html item=item %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          </ul>

          <p class="title">About:</p>
          <div class="about">
            <p>Hi there! My name is Dmitry Karpenko, I'm a software developer, and this is my personal blog.</p>
            <p>You could <a href="mailto:{{ site.email }}">contact me through email</a>
            or by leaving a comment below any of the posts.</p>
          </div>

          {% if site.github.is_project_page %}
            <p class="repo-owner">
              <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
              is maintained by
              <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
            </p>
          {% endif %}
        </aside>
      </div>
    </div>

    <footer>
      <div class="inner">
        <div class="information">
          <div class="contacts">
            <a href="mailto:{{ site.email }}">Contact me</a>
          </div>
          <div class="copyright">
            © {{ site.time | date: '%Y' }} All rights reserved
          </div>
        </div>
      </div>
    </footer>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
